.ImageZoomHolder{
  width: 100vw;
  height: 100vh;
  background-color: black;

 
}
.ImageZoomLength{
  width: 100vw;
  height: 500vh;
  background-color: rgb(255, 0, 0);

}
.ImageZoomReal{

  width: 100%;
  transform-origin: 48.5% 30%;
  transform: scale(5)
}
.AfterWards{
  width: 100vw;
  height: 100vh;
  background-color: rgb(47, 255, 0);
}
