html, body {
 
  width: 100%;       /* Ensures html/body don't expand beyond viewport */
  margin: 0;         /* Removes default browser margins */
  padding: 0;        /* Removes default browser padding */
}

.Page2{
  width: 100vw;
  height: 100vh;

}

.ProjectsPage{
  height: 910px;
  background: linear-gradient(2deg,rgb(27, 27, 27) 0%, rgb(41, 54, 59) 76%);
}

.ProjectHeader{
  margin: 0px;
  color: aliceblue;
  font-size: 7vw;
  font-family: Awaken;
  padding-left: 2vw;
  padding-top: 10px;

}
.ProjectDesc{
  margin: 0px;
  color: aliceblue;
  font-size: 1.8vw;
  font-family: Awaken;
  padding-left: 4vw;
  padding-top: 10px;
  width: 40vw;
  text-align: center;

}

.OutSideContainer{
  position: relative;
  background-color: rgba(185, 228, 245, 0.164);
  width: 45vw;
  height: 45vw;
  right: -53vw;
 transform-origin: center;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 2fr 2fr;
 
  bottom: 38vw;
  
}
